.App {
  text-align: center;
  --app-draw-width: 240px;
  --app-draw-collaspe-width: 72px;
  --app-bar-height: 62px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-body{
  margin-top: calc(var(--app-bar-height));
  background-color: #F3F6F9;
  min-height: calc(100vh - var(--app-bar-height));
}

.Router-OpenList{
  margin-left: var(--app-draw-width);
}

.Router-CloseList{
  margin-left: var(--app-draw-collaspe-width);
}

.app-bar-background{
  z-index: -1;
  height: 62px;
  opacity: 1;
  position: absolute;
  width: 100%;
}