.fw-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: double;
    width: 100%;
    display: table;
}
.aaa{
    padding: 5px;
    
}
  
.fw-table th,
.fw-table td {
  padding: 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.fw-table th { text-align: center; }

.fw-table-border-light-gray tr,
.fw-table-border-light-gray th,
.fw-table-border-light-gray td {
  border: 1px solid #d3d3d3;
}
.fw-table-hover tbody tr:hover {
    background-color: #d3d3d3;
}

.fw-table-border-gray tr,
.fw-table-border-gray th,
.fw-table-border-gray td {
  border: 1px solid #808080;
}
.fw-table-border-42 td {
  border: 0.7px solid #808080;
  padding: 1px;


}
.fw-table-th-gray th { background-color:#000000; color: white; }

.fw-table-layout { table-layout: fixed; }
.fw-w-100 { width: 100%; }
.fw-w-95 { width: 95%; }
.fw-w-90 { width: 90%; }

.fw-w-70 { width: 70%; }
.fw-w-65 { width: 65%; }
.fw-w-60 { width: 60%; }
.fw-w-50 { width: 50%; }
.fw-w-49 { width: 49%; }
.fw-w-45 { width: 45%; }
.fw-w-40 { width: 40%; }
.fw-w-30 { width: 30%; }
.fw-w-20 { width: 20%; }
.fw-w-15 { width: 15%; }
.fw-w-13 { width: 13%; }
.fw-w-12 { width: 12%; }
.fw-w-10 { width: 10%; }
.fw-w-6 { width: 6%; }
.fw-w-5 { width: 5%; }

.fw-tooltip {
  position: absolute;
  bottom: 25px;
  left: 0;
  padding: 10px;
  z-index: 1;
  width: 300px;
  text-align: left;
  border: 1px solid #CCC;
  background: #EEE;
  color: black;
  line-height: 18px;
}
.fw-cursor-help { cursor: help; }


.fw-table-main{
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  min-height: 500px;
}

.fw-table-main > th{
  font-weight: bold;
}

.fw-page-number {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.fw-page-number button{
  margin-left: 5px;
}

.fw-page-number input{
  width: 100px;
  margin-left: 5px;
}